/* Estilos al body en general */
:root{
    --bg1: #191D23;
    --body: #5F6063;
    --btn: #22e5c8;
    --gray: #c7c5c9;
    --verde: #5b7677;
    --azul: #147ca4;
    --white: #fff;
    --font: "Geneva"
}
/* estilos al body */
body{
    font-family: var(--font);
}

.btnp{
    background-color: var(--btn);
    color: var(--white);
    padding: .5rem;
    margin: 3rem 0;
    text-decoration: none;
    text-align: center;
    border-radius: .5rem;
    width: 20rem;
    height: 1rem;
    font-weight: 700;
}

.btnp:hover{
    color: var(--azul);
}

/* Estilos al nav */
.navegacion{
    height: 6rem;
    background-color: var(--bg1);
    border-bottom:1px solid var(--btn);
    position: fixed;
    top:0;
    width: 100%;
}
.navegacion .nav{
    display: inline-flex;
    justify-content: right;
    align-items: center;
    align-content: right;
}

.navegacion a{
    color: var(--white);
    text-decoration: none;
    margin-right: 1rem;
}

.navegacion a:hover{
    color: var(--btn)
}

.navegacion a:last-child(){
    margin-right: 0;
}

.navegacion .perfil img{
    padding: .5rem;
    height: 100%;
    width: 100%;
    object-position: center;
}

/* Estilos a la presentacion */
.presentacion .main{
    height: 40rem;
    display: flex;
    padding: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid var(--btn);
}

.saludo{
    margin-right: 1rem;
}

.saludo h1,h2{
    color: var(--white);
    font-weight: 700;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 3rem;
}

.saludo h1 span{
    color: var(--btn);
}
.saludo p{
    color: var(--white);
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 3rem;  
}
.main{
    align-content: center;
}

.foto img{
    height: 100%;
    width: 100%;
} 

/* Creacion de la seccion about me */
.about{
    margin: 3rem 0;
    height: 30rem;
    border-bottom:1px solid var(--btn);
}

.saludoAbout{
    margin-left: 1rem;
}

.fotoAbout img{
    padding: .5rem;
    height: 80%;
    width: 100%;
    object-position: center;
}

.btn-about{
    align-items: center;
}

/* Estilos a la seccion de skills */
/* .skills{
    width: ;
} */